<h1>Hola mudo {{title}}</h1>
<h2 mat-dialog-title>Delete all elements?</h2>
<h1>Autocomplete</h1>
<app-autocomplete></app-autocomplete>
<br>
<hr>
<h1>Badge</h1>
<app-badge></app-badge>
<br>
<hr>
<h1>Bottom-sheet</h1>
<app-bottom-sheet></app-bottom-sheet>
<br>
<hr>
<h1>Bottom</h1>
<app-button></app-button>
<br>
<hr>
<h1>Button-toggle</h1>
<app-button-toggle></app-button-toggle>
<br>
<hr>
<h1>Card</h1>
<app-card></app-card>
<br>
<hr>
<h1>Checkbox</h1>
<app-checkbox></app-checkbox>
<br>
<hr>
<h1>Chips</h1>
<app-chips></app-chips>
<br>
<hr>
<h1>Datepicker</h1>
<app-datepicker></app-datepicker>
<br>
<hr>
<h1>Dialog</h1>
<app-dialog></app-dialog>
<!--
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<button (click)="changeTitle()">Change</button>
<app-caracter [caracter]="caracter" *ngFor="let caracter of caracters"> </app-caracter>
<app-pokemon [pokemon]="pokemon" *ngFor="let pokemon of pokemons"> </app-pokemon>
-->
